## String slice

pin1 = "881120-1068234"

pin2 = "101120-4068234"

- Q1 birthday: e.g. 19881120

> yyyymmdd = 

- Q2 id_num: e.g. 1068234

> num = 

- Q3 gender: 1 or 2 or 3 or 4

> gender = 
---
>print(yyyymmdd)

>print(num)

>print(gender)

In [12]:
def info(pin):
    yyyymmdd = pin[:6]# Q1? 19881120
    num = pin[7:]# Q2? 1068234
    gender_num = pin[7]

    if gender_num == "1" or gender_num == "3":
        gender = "남자"
    else:
        gender = "여자"

    pre = ""
    if gender_num == "3" or gender_num =="4":
        pre = "20"
    else:
        pre = "19"

    print("Birthday: ", pre + yyyymmdd)
    print("ID number: ", num)
    print("Gender: ", gender)


info("881120-1068234")
info("101120-4068234")

Birthday:  19881120
ID number:  1068234
Gender:  남자
Birthday:  20101120
ID number:  4068234
Gender:  여자

- Q4: String - replace()

> a = "a:b:c:d"

> b = 

> print(b)

"a#b#c#d"

In [2]:
a = "a:b:c:d"
b = a.replace(":", "#")
print(b)

a#b#c#d

- Q5: List - sort()

> c = [1,3,5,4,2]

> ...

> ...

> print(c)


[5, 4, 3, 2, 1]

In [3]:
c = [1,3,5,4,2]
c.sort()
c.reverse()
print(c)

[5, 4, 3, 2, 1]

- Q6: List - join()

e = ['Life', 'is', 'too', 'short']

f =

print(f)

"Life is too short"

In [4]:
e = ['Life', 'is', 'too', 'short']
print(' '.join(e))

Life is too short

- Q7 Tuple: (1, 2, 3)에 4추가

> g = (1, 2, 3)

> g_new =  

> print(g_new)

(1, 2, 3, 4)

In [5]:
g = (1, 2, 3)
g_new = g + (4,)

print(g_new)

(1, 2, 3, 4)

- Q8 Set: 중복제거

> h = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]

> hset =

> print(hset)

{1, 2, 3, 4, 5}

In [6]:
h = [1, 1, 1, 2, 2, 3, 3, 3, 4, 4, 5]
hset = set(h)
print(hset)

{1, 2, 3, 4, 5}

- Q9: for를 이용, 1부터 100까지 출력

In [7]:
for i in range(101):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

- Q10: 1부터 1000까지 자연수의 합

In [8]:
s = 0
for x in range(1, 1001):
    s = s + x

print(s)

500500

- Q11: 1부터 1000까지 자연수 중 3의 배수 합

In [9]:
s = 0
for x in range(1, 1001):
    if x % 3 == 0:
        s = s + x

print(s)

166833

- Q12 학생 점수 목록(리스트) : 반평균을 구하라

> scores = [70, 60 , 55, 75, 95, 90, 80, 80, 85, 100]

> ...

> average =

In [11]:
scores = [70, 60 , 55, 75, 95, 90, 80, 80, 85, 100]
# s = 0
# for x in scores:
#     s = s + x

s = sum(scores)
cnt = len(scores)
print(s/cnt)

79.0